.thumbnail img {
    width: 100%;
}

.navbar-default {
    width: 100%;
    height: auto;
    background-color: #202020;
    border: none;
    z-index: 1;
    position: relative;
}

.nav.navbar-nav.navbar-right li a {
    color: #fff;
}

.navbar-brand {
    color: #fff !important;
}

#index_img {
    width: 100%;
    height: 225px !important;
}

#show_img {
    width: 100%;
    height: 550px;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.fb-like {
    padding-top: 15px;
    padding-left: 15px;
}

.fb-follow {
    padding-top: 15px;
    padding-left: 15px;
}